.breadcrumbs {

    font-size: 16px;
    line-height: 1.5;
    font-size: #000;
    font-weight: 300;

    display: flex;
    align-items: center;
    gap: 20px;
    row-gap: .5em;
    flex-wrap: wrap;

    margin-bottom: clamp(20px, 4vw, 40px);

    &_desc {
        @media screen and (max-width: $burgerBreakpoint) {
            display: none;
        }
    }

    // .breadcrumbs__item
    &__item {
        &:last-of-type {
            opacity: .5;
            pointer-events: none;
        }
    }
}
