/* -------- GLOBAL -------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    transition: $quickTransition;
}

.container {
    max-width: calc($conteinerWidth + 2 * $containerPadding);
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerPadding;

    &_wide {
        max-width: calc(1840px + 2 * $containerPadding);
    }

}


html,
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: clip;
    scroll-behavior: smooth;
    font-family: $fontPrimary;
    font-style: normal;
    color: $colorBlack;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $colorBackground;
    padding-bottom: 100px;

}

main {
    transition: none;
    
    @media screen and (max-width: $burgerBreakpoint) {
        &.hidden {
            opacity: 0;
            pointer-events: none;
        }
    }
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    background: none;
}

.lock {
    overflow-y: hidden;
    overflow-x: hidden;
}

[data-notification] {
    position: relative;

    &::before {
        content: attr(data-notification);
        position: absolute;
        z-index: 1;
        top: 3px;
        left: 0;
        height: 9px;
        width: 9px;
        border-radius: 50%;
        background: #39AC94;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        font-size: 5px;
        font-weight: 700;
        line-height: 1;
        color: $colorWhite;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    border-radius: 4px;
    background: var(--bg, #F0A462);
    color: var(--color, #FFF);
    padding: 1em clamp(16px, 3.2vw, 32px);
    max-width: fit-content;

    font-size: clamp(14px, 1.7vw, 17px);
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;

    &_black {
        background: #363636;
    }

    &_green {
        background: #40BFA5;

        &:hover {
            background: #39AD94;
        }
        &:active {
            background: #339984;
        }
    }

}

.input {
    padding: 16px 20px;
    background: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    display: flex;
    
    font-weight: 300;
    font-size: clamp(14px, 1.6vw, 16px);
    line-height: 1.5;
    color: $colorText;

    &::placeholder {
        color: rgba($color: $colorText, $alpha: .5);
    }
}
textarea {
    resize: none;
    height: clamp(110px, 15vw, 150px);
}

.input-with-btn {

    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    // .input-with-btn__input
    &__input {
        flex: 1 1 60%;
    }

    // .input-with-btn__btn
    &__btn {
        flex: 1 1 fit-content;
        max-width: unset;
    }
}

.calc-field {

    @extend .input;
    background: #C8EAE3;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    // .calc-field__title
    &__title {
    }

    // .calc-field__value
    &__value {
    }
}


@mixin radioFont {
    font-weight: 300;
    font-size: clamp(14px, 1.6vw, 16px);
    line-height: 1.5;
    color: $colorText;
}

.confirm-checkbox {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    
    @include radioFont;

    cursor: pointer;

    input {
        flex-shrink: 0;
        width: 24px;
        height: 24px;

        -webkit-appearance: none;
        appearance: none;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background: #FAFAFA;
        
        cursor: pointer;
        position: relative;
        
        &:checked {

            &::after {
                content: url(../img/cart/confirm.svg);
                position: absolute;
                left: 50%;
                top: 50%;
                translate: -50% -50%;
            }
        }
    }


    strong {
        font-weight: 500;
    }

}

.radio {

    @include radioFont;

    display: flex;
    align-items: flex-start;
    gap: 16px;
    cursor: pointer;

    input {
        flex-shrink: 0;
        width: 24px;
        height: 24px;

        -webkit-appearance: none;
        appearance: none;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background: #FAFAFA;
        border-radius: 50%;
        
        cursor: pointer;
        position: relative;
        
        &:checked {

            &::after {
                content: '';
                position: absolute;
                border-radius: 50%;
                width: 40%;
                aspect-ratio: 1;
                left: 50%;
                top: 50%;
                translate: -50% -50%;
                background: $colorText;
            }
        }
    }

    strong {
        font-weight: 600;
    }

}

.radio-cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;
    column-gap: 8px;

    & > * {
        flex: 1 0 calc(50% - 8px / 2);

        @media screen and (max-width: $breakpoint576) {
            flex: 0 0 100%;
        }
    }
}

.radio-card {

    position: relative;
    cursor: pointer;

    background: $colorWhite;
    border: 1px solid #CCCCCC;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 12px 16px;

    font-size: 12px;
    line-height: 1.33;
    color: $colorText;

    max-width: 320px;
    @media screen and (max-width: $breakpoint1024) {
        max-width: unset;
    }

    &_checked {
        background: #D9F2ED;
        border-color: #40BFA5;
    }

    input {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    // .radio-card__title
    &__title {
        font-weight: 500;
    }

    // .radio-card__caption
    &__caption {
        text-align: right;
        font-weight: 300;
        text-wrap: nowrap;
    }

    &_jcc {
        justify-content: center;
        flex: 1 1 fit-content;
        padding: 16px;
    }

    &_outline {
        border-color: #B3B3B3;
        background: none;

        .radio-card__title {
            font-weight: 300;
            font-size: 14px;
            line-height: 1.7;
        }

        &.radio-card_checked {
            border-color: #40BFA5;
            background: $colorWhite;

            .radio-card__title {
                font-weight: 500;
            }
        }
    }
}



.page-title {


    font-weight: 700;
    font-size: clamp(16px, 4.5vw, 44px);
    line-height: 0.86;
    text-transform: uppercase;
    color: #000000;

    margin-bottom: clamp(20px, 5vw, 50px);


}

.section-title {


    font-weight: 700;
    font-size: clamp(14px, 4vw, 38px);
    line-height: 1.25;
    text-transform: uppercase;
    color: #292929;

    margin-bottom: clamp(16px, 5vw, 40px);


}

[data-marker-text] {
    position: relative;

    & > * {
        z-index: 1;
        position: relative;
    }

    &::before {
        content: attr(data-marker-text);
        position: absolute;
        top: clamp(10px, 2vw, 20px);
        right: 0;
        z-index: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        width: clamp(20px, 8vw, 80px);
        aspect-ratio: 1;
        border-radius: 50%;
        background: var(--markerBg);

        font-size: clamp(8px, 2vw, 20px);
        letter-spacing: 1%;
        font-weight: 700;
        color: $colorWhite;

        rotate: -15deg;
        translate: 25%;
    }
}