// Container
$conteinerWidth: 1720 + px;
$containerPadding: 20 + px;

// Breakpoints
$breakpoint1440: 1439.98 + px;
$breakpoint1400: 1399.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint1024: 1024.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint576: 575.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorGreen: #40C3A8;
$colorText: #1A1A1A;
$colorBackground: #F4F2F1;

// Fonts
$fontPrimary: "Lato", sans-serif;

// Layers
$headerLayer: 9;
$popupLayer: 10;

// Burger
$burgerBreakpoint: $breakpoint1024;

// Transitions
$quickTransition: all 120ms ease-out;
